.films {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  margin-bottom: 24px;
}

.link:hover {
  color: #0070f3;
  cursor: pointer;
}