.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 1s ease-out 0.5s;
}


.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  gap: 20px 0;
  margin: 0 auto;
  background: #FFF;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  line-height: 20px;
}

.close {
  cursor: pointer;
}